[Unit]
Description=MineCraft Server
After=network.target

[Service]
User=minecraft
Nice=1
KillMode=none
SuccessExitStatus=0 1
ProtectHome=true
ProtectSystem=full
PrivateDevices=true
NoNewPrivileges=true
WorkingDirectory=/opt/minecraft/server
ExecStart=tmux new-session -d -s MineCraft 'java -Xms1G -Xmx4G -jar server.jar nogui'
ExecStop=tmux send-keys -t MineCraft "stop" Enter
ExecStopPost=bash -c 'backup.sh service stop | tee -a /opt/minecraft/server/logs/backup.log'

[Install]
WantedBy=multi-user.target
