[Unit]
Description=MineCraft Server
After=network.target

[Service]
User=minecraft
Nice=1
KillMode=none
SuccessExitStatus=0 1
ProtectHome=true
ProtectSystem=full
PrivateDevices=true
NoNewPrivileges=true
WorkingDirectory=/opt/minecraft/server
ExecStart=java -Xms1G -Xmx4G -jar server.jar nogui
ExecStop=/opt/minecraft/server/rcon-client/bin/python3 /opt/minecraft/server/rcon-client/stop.py
ExecStopPost=bash -c '/opt/minecraft/server/backup.sh service stop | tee -a /opt/minecraft/server/logs/backup.log ; exit "${PIPESTATUS[0]}"'

[Install]
WantedBy=multi-user.target
